Datafactory/MultipleTables.json
{
	"name": "MultipleTables",
	"properties": {
		"activities": [
			{
				"name": "IterateSQLTables",
				"type": "ForEach",
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "OldWatermark",
							"type": "Lookup",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderQuery": {
										"value": "select * from Watermarktable where TableName  =  '@{item().TABLE_NAME}'",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "WatermarkDatasetCoen",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "NewWatermark",
							"type": "Lookup",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderQuery": {
										"value": "select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "BronOnPrem",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "IncrementalCopyActivity",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "NewWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "OldWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('OldWatermark').output.firstRow.WatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('NewWatermark').output.firstRow.NewWatermarkvalue}'",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000,
									"sqlWriterStoredProcedureName": "[dbo].[usp_write_watermarkCoen]",
									"sqlWriterTableType": "@{item().TableType}"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true
							},
							"inputs": [
								{
									"referenceName": "BronOnPrem",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SinkInCloud",
									"type": "DatasetReference",
									"parameters": {
										"SinkTableName": "@{item().TABLE_NAME}"
									}
								}
							]
						},
						{
							"name": "StoredProceduretoWriteWatermarkActivity",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "IncrementalCopyActivity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermarkCoen]",
								"storedProcedureParameters": {
									"ClientId": {
										"value": {
											"value": "@{activity('NewWaterMark').output.firstRow.NewWatermarkvalue}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TableName": {
										"value": {
											"value": "@{activity('OldWaterMark').output.firstRow.TableName}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LSCosasDbCloud",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tableList": {
				"type": "Object",
				"defaultValue": [
					{
						"TABLE_NAME": "customer_table",
						"WaterMark_Column": "LastModifytime",
						"TableType": "DataTypeforCustomerTable",
						"StoredProcedureNameForMergeOperation": "usp_upsert_customer_table"
					},
					{
						"TABLE_NAME": "project_table",
						"WaterMark_Column": "Creationtime",
						"TableType": "DataTypeforProjectTable",
						"StoredProcedureNameForMergeOperation": "usp_upsert_project_table"
					}
				]
			}
		}
	}
}